body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 0;
}
video{
  z-index: -1;
  position: fixed;
  background-position: 100%;
  background-repeat: no-repeat;
}

.container {
  z-index: 2;
  margin: auto;
  border: 2px solid black;
  background-color: #ddd;
  max-width: 550px;
  height: 750px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 100px 0px rgb(66, 165, 148);
}

input[type="text"] {
  background-color:#ddd;
  margin: auto;
  text-align: right;
  width: 550px;
  height: 100px;
  font-size: 40px;
  text-transform: uppercase;
  text-decoration: solid;
}

.fila {
  display: flex;
  justify-content: space-between;
}

.numero {
  background-color: #48e;
  margin: 10px;
  width: 110px;
  height: 110px;
  font-size: 40px;
}

.finales {
  background-color: #48e;
  margin: 10px;
  width: 150px;
  height: 110px;
  font-size: 40px;
}

.fila_final {
  display: flex;
  justify-content: space-between;
}

.function, .operadores, .Limpiar {
  background: #222;
  margin: 10px;
  width: 110px;
  height: 110px;
  font-size: 40px;
  color: white;
}

.operadores_ultimos {
  margin: 10px;
  width: 150px;
  height: 110px;
  font-size: 40px;
  color: white;
  background: #222;
}

button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button:active {
  transform: scale(0.9);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}